<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="dynoapps.exchange_rates">

    <permission android:name="android.permission.INTERNET"/>

    <permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="whateverString"
        android:name=".App"
        android:allowBackup="true"
        android:configChanges="locale"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:configChanges="orientation|screenSize|locale"
            android:name=".ChartActivity"
            android:label="@string/graphic"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:configChanges="orientation|screenSize|locale"
            android:name=".alarm.AlarmsActivity"
            android:label="@string/alarms"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:configChanges="orientation|screenSize|locale"
            android:name=".LandingActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.WithDrawer"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:configChanges="orientation|screenSize|locale"
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.RatePollingService"
            android:exported="false"/>
    </application>

</manifest>